<%= form_with(url: sessions_path) do |form| %>
<div class = "field">
  <div class = "control">
    <%= form.label(:username_login, "Enter your username: ", class: "label" ) %>
    <%= form.text_field(:username_login) %>
  </div>
</div>
  <%= form.submit('Login', class: "button is-primary") %>
<% end %>
