<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-3">
				<h1 class="title">Login</h1>
					<%= render "log_in_form"%>
			</div>
		</div>
	</div>
</div>