<div class="card">
  <div class="card-content">
    <h3 class="title is-5">Events</h3>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
    <ul>
    <%=@users%>
    <%=@users_id%>
      <% @events.each do |events| %>
        <li>
          <strong>Event_id: </strong><%= events[0] %>
          <strong>Creator Name: </strong><%= events[1] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>