<div class="card">
  <div class="card-content">
    <h3 class="title is-5 is-outlined">Events</h3>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
    <strong>Creator Name: </strong><%= @user.name.capitalize %>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
    <strong class = "title is-5 is-outlined"> Guests: </strong>
    <%= show_attendance_info(@attendees)%>
  </div>
</div>
<% if signedin? %>
  <%= link_to 'Add Guest', invitations_new_path(params[:id]), class: "guest-link-style title is-5 has-text-white has-background-black" %>
<% end %>