<div class="card">
  <div class="card-content">
    <h3 class="title is-5">Events</h3>
  </div>
</div>
<div class = "card">
  <div class = "card-content">
    <strong>Creator_id: </strong><%= @event.creator_id %>
  </div>
</div>