<%= form_with model: @invitation do |invitation_form| %>
  <div class="field">
    <div class="control">
      <%= invitation_form.collection_select(:event_attendee_id, User.all, :id, :name) %><br>
      <% invitation_form.text_field(params[:format]) %>
    </div>
  </div>
  <%= invitation_form.submit('Add Guest', class: 'button is-primary')%>
<% end %>